# Default options for a fresh MySQL 4.1.11 installation on Windows.
#
# If you're running a different operating system or running MySQL in a different
# directory you'll want to modify 'basedir' and 'datadir' below.
#
# For Windows, put this file in C:\.

# $Id: my.cnf,v 1.2 2006-08-14 22:41:15 cervelli Exp $

#Options for the MySQL server

[mysqld]

#Paths to the the MySQL installation and to the data directory

basedir         = C:\mysql-5.0.24-win32
datadir         = C:\mysql-5.0.24-win32\data

#Listen on this port
port = 3306

#Don't load the InnoDB storage engine. This increases performance a bit if you don't use InnoDB tables.
skip-innodb
skip-locking

#Set this variable to about 2 to 3 times the number of channels you intend to store.
table_cache=128

#This ensures file compatibility between Windows and Unix/Linux.
lower_case_table_names=2

#Allow big packets
max_allowed_packet = 16M